*{
    margin: 0;
    padding: 0;
}

.navbar-custom{
    color: black;
    background-color: #8D918D;
}

body{
    background-color: white;
}

.center
{
    font-size: 30px;
}
.navbar-brand{
font-size: 30px;	
}

#this a
{
    color: black;
}